.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: auto;
  align-items: center;
  flex-direction: column;
}
.home-text {
  font-size: 1.75em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.home-main-banner-section {
  flex: 0 0 auto;
  width: 100%;
  height: 475px;
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
  justify-content: center;
}
.home-banner {
  height: 100%;
  background-size: cover;
  background-image: url("public/main_cover-1500w.webp");
  background-position: center;
}
.reserve-container {
  background-color: rgba(113, 181, 86, 0.25);
  min-height: 31.9vh;
}
.reserve-container-alert {
  background-color: rgba(113, 181, 86, 0.25);
  min-height: auto;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link2 {
  display: contents;
}
.modal-full-screen {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
@media (max-width: 1200px) {
  .home-text {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .home-banner {
    padding-left: var(--pixels-32);
    padding-right: var(--pixels-32);
  }
  .home-footer1 {
    padding-left: var(--pixels-32);
    padding-right: var(--pixels-32);
  }
  .home-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text16 {
    margin-bottom: var(--pixels-24);
  }
}
@media (max-width: 576px) {
  .home-banner {
    padding-top: var(--pixels-32);
    padding-left: var(--pixels-16);
    padding-right: var(--pixels-16);
    padding-bottom: var(--pixels-32);
    background-size: cover;
    background-position: center;
  }
  .home-footer1 {
    padding: var(--pixels-16);
  }
  .home-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text16 {
    text-align: center;
    margin-bottom: var(--pixels-24);
  }
}
